/* #boxes {
  height: 300px;
  width: 700px;
  border: 1px solid black;
  display: flex;
  padding-top: 10px;
} */

/* .box {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 0 auto;
}

#card {
  margin-top: 20px;
  height: 250px;
  width: 150px;
  background-color: grey;
  border: 1px solid rgb(172, 171, 171);
}

.active {
  background-color: red;
} */
